<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-start">
            <i class="mdi mdi-{{cl.icon}} {{cl.icon_color}} icon-lg"></i>
          </div>
          <div class="float-end">
            <p class="mb-0 text-right">{{cl.title}}</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0"> {{cl.amount}} </h3>
            </div>
          </div>
        </div>
        <p class="text-muted mt-3 mb-0">
          <i class="mdi mdi-{{cl.sub_icon}} me-1" aria-hidden="true"></i> {{cl.sub_title}}
        </p>
      </div>
    </div>
</div>