{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="#" class="nav-link">
        <div class="nav-profile-image">
          <img src="{% static 'images/faces/face1.jpg' %}" alt="profile">
          <span class="login-status online"></span>
          <!--change to offline or busy as needed-->
        </div>
        <div class="nav-profile-text d-flex flex-column">
          <span class="font-weight-bold mb-2">David Grey. H</span>
          <span class="text-secondary text-small">Project Manager</span>
        </div>
        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'hotel_admin:home' %}">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
      <li class="nav-item">
      <a class="nav-link" href="{% url 'hotel_admin:admin-list' %}">
        <span class="menu-title">Admins</span>
        <i class="mdi mdi-account-multiple menu-icon"></i>
      </a>
    </li>
      <li class="nav-item">
      <a class="nav-link" href="{% url 'hotels:hotel-list' %}">
        <span class="menu-title">Hotels</span>
        <i class="mdi mdi-hotel menu-icon"></i>
      </a>
    </li>
      <li class="nav-item">
      <a class="nav-link" href="{% url 'rooms:room-list' %}">
        <span class="menu-title">Rooms</span>
        <i class="mdi mdi-account-multiple menu-icon"></i>
      </a>
    </li>
      <li class="nav-item">
      <a class="nav-link" href="{% url 'hotel_admin:home' %}">
        <span class="menu-title">Bookins</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
      <li class="nav-item">
      <a class="nav-link" href="{% url 'hotel_admin:admin-list' %}">
        <span class="menu-title">Payments</span>
        <i class="mdi mdi-cash menu-icon"></i>
      </a>
    </li>
      <li class="nav-item">
      <a class="nav-link" href="{% url 'hotel_admin:home' %}">
        <span class="menu-title">Customers</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
      <li class="nav-item">
      <a class="nav-link" href="{% url 'hotel_admin:admin-list' %}">
        <span class="menu-title">Reviews</span>
        <i class="mdi mdi-account-multiple menu-icon"></i>
      </a>
    </li>
  </ul>
</nav>